<h2>Here you can add or delete a merchant.</h2>

<p>Please use the form below to enter a new merchant to your Spend Tracker:</p>

<form action="/merchants/<%=@merchant.id %>" method="post">
  <label for="name">Merchant Name:
  <input type="text" name="name" value="<%=@merchant.name%>">
  </label>

  <label>
  Select status:
    <select name="active">
      <option <%= "selected" if @merchant.active == "t" %> value="true">active</option>
      <option <%= "selected" if @merchant.active == "f" %> value="false">deactivated</option>
    </select>
  </label>

  <label for="logo">Logo URL:
  <input type="text" name="logo" value="<%=@merchant.logo%>">
  </label>



  <input class="new_tr_added" type='submit' value="Confirm edits">
</form>
