<h2>Please update details of the merchant below.</h2>
<br><br><br>

<form action="/merchants/<%=@merchant.id %>" method="post" align="center">
  <label for="name">Merchant Name:
  <input id="amount_newtr" type="text" name="name" value="<%=@merchant.name%>">
  </label>
<br><br>
  <label>
  Select status:
    <select name="active" id="mainselection" class="custom-select">
      <option <%= "selected" if @merchant.active == "t" %> value="t">active</option>
      <option <%= "selected" if @merchant.active == "f" %> value="f">deactivated</option>
    </select>
  </label>
<br><br>
  <label for="logo">Logo URL:
  <input id="amount_newtr" type="text" name="logo" value="<%=@merchant.logo%>">
  </label>
<br><br><br>


  <input id="new_button" type='submit' value="Update merchant details" style="height:30px; width:400px>
</form>
