<h2>This is all the Merchants page.</h2>

<form method="get" class="bttn-add-new" action="/merchants/new">
  <input type="submit"  value="+ ADD NEW MERCHANT">
</form>

<br>


<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>

<%  for merchant in @merchants %>
  <tr>
    <td><img src="<%= merchant.logo %>" width="30" height="30" alt="Merchant Logo"></td>
    <td><%=merchant.id %></td>
    <td><%=merchant.name() %></td>
    <td><% if merchant.active == "t" %>
    <%= "active" %>
  <% else "deactivated" %>
<%end%></td>
    <td>
      <form method="get" class="inline" action="/merchants/<%= merchant.id %>/edit">
        <input type="submit"  value="Update this merchant">
      </form>

      <form method="post" class="inline" action="/merchants/<%= merchant.id %>/delete">
        <input type="submit"  value="Delete this merchant">
      </form>

    </td>
  </tr>
  <% end %>
</table>
<br><br>
