<br><h2>See a list of all your recorded merchants below.</h2>


<br>


<table id=merchants>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>

<%  for merchant in @merchants %>
  <tr>
    <td><img src="<%= merchant.logo %>" width="30" height="30" alt="Merchant Logo"></td>
    <td><%=merchant.id %></td>
    <td><%=merchant.name() %></td>
    <td><% if merchant.active == "t" %>
    <%= "active" %>
  <% else "deactivated" %>
<%end%></td>
    <td>
      <form method="get" class="inline" action="/merchants/<%= merchant.id %>/edit">
        <input id="update-btn" type="submit"  value="Update this merchant">
      </form>

      <form method="post" class="inline" action="/merchants/<%= merchant.id %>/delete">
        <input id="delete-btn" type="submit"  value="Delete this merchant">
      </form>

    </td>
  </tr>
  <% end %>
</table>
<br><br>
<form method="get" action="/merchants/new" align="center">
  <input id="new_button" type="submit"  value="[+] ADD NEW MERCHANT" style="height:30px; width:400px">
</form>

<br><br>
<br><br>
