<h2>See the list of your defined categories below.</h2>


<br>
<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Category</th>
    <th>Status</th>
    <th>Actions</th>

  </tr>
  <%  for tag in @tags %>
  <tr>
    <td><img src="<%= tag.logo %>" width="30" height="30" alt="Tag Logo"></td>
    <td><%=tag.id() %></td>
    <td><%=tag.label.capitalize %></td>
    <td><% if tag.active == "t" %>
    <%= "active" %>
  <% else %>
  <%="deactivated" %>
<%end%>
</td>
    <td>
      <form method="get" class="inline" action="/tags/<%= tag.id %>/edit">
        <input id="update-btn" type="submit"  value="Update this category">
      </form>

      <form method="post" class="inline" action="/tags/<%= tag.id %>/delete">
        <input id="delete-btn" type="submit"  value="Delete this category">
      </form>
    </td>
  </tr>
  <% end %>
</table>
<br><br>

<form method="get" action="/tags/new" align="center">
  <input id="new_button" type="submit"  value="[+] ADD NEW CATEGORY" style="height:30px; width:400px">
</form>
<br><br><br><br>
