<h2>See your list of categories below.</h2>

<form method="get" class="bttn-add-new" action="/tags/new">
  <input type="submit"  value="+ ADD NEW CATEGORY">
</form>

<br>
<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Category</th>
    <th>Status</th>
    <th>Actions</th>

  </tr>
  <%  for tag in @tags %>
  <tr>
    <td><img src="<%= tag.logo %>" width="30" height="30" alt="Tag Logo"></td>
    <td><%=tag.id() %></td>
    <td><%=tag.label() %></td>
    <td><% if tag.active == "t" %>
    <%= "active" %>
  <% else "deactivated" %>
<%end%>
</td>
    <td>
      <form method="get" class="inline" action="/tags/<%= tag.id %>/edit">
        <input type="submit"  value="Update this tag">
      </form>

      <form method="post" class="inline" action="/tags/<%= tag.id %>/delete">
        <input type="submit"  value="Delete this tag">
      </form>
    </td>
  </tr>
  <% end %>
</table>
<br><br>
