<h2>User Profile</h2>



<img class="center" src="/images/person.png" width="100" height="100" alt="">

<%  for user in @user %>
<p align="center"> User Unique ID (UUID): <%=user.id %><%= "TR9366" %> </p>
<p align="center"> User Name: <%=user.name %> </p>


<form method="get" action="/users/<%=user.id %>/edit" align="center">
  <input id="new_button" type="submit" value="Change your name">
</form>
<br>
<p align="center"> Your Monthly Budget: £<%=user.budget %> </p>

<form  method="get" action="/users/<%=user.id %>/edit" align="center">
  <input id="new_button" type="submit" value="Change your budget">
</form>
<br><br>

<hr />
<% end %>
