<h2>Your Analytics</h2>

<table>
  <tr><p>Filter by:</p>
    <td>
      <form method="get" action="/transactions/analytics/allbytime">
    <input type="submit"  value="ALL TRANSACTIONS BY TIME">
    </form></td></tr>
  </table>
  <br>
  <table><tr>
  <%  for tag in @tags %>
      <td>
        <form method="get" action="/transactions/analytics/tag/<%= tag.label %>/table">
        <input type="submit"  value="<%= tag.label  %>">
      </form>
    <% end %>
  </td></tr></table><br><table>
<tr> <%  for yearmonth in @yearmonths %>
    <td>
      <form method="get" action="/transactions/analytics/month/<%=yearmonth%>/table">
      <input type="submit"  value="<%= (yearmonth.split('/').first).concat(" ",Date::MONTHNAMES[(yearmonth.split('/').last).to_i])  %>">
      </form>
  <% end %>
    </td></tr></table>
<br>
<br>
<form method="post" action="/transactions/analytics/range">
    <label for="date1">From</label>
    <input name="date1" type="date"  value="date1">

    <label for="date2">To</label>
    <input name="date2"type="date"  value="date2">

    <input type="submit"  value="Filter">
</form>
<br>

<br><br>

<table>
  <tr>
    <th>Merchant logo</th>
    <th>Merchant Name</th>
    <th>Amount</th>
    <th>Time</th>
    <th>Category</th>
    <th>Category logo</th>

  </tr>
  <% for item in @transactions_by_time %>
  <tr>
    <td><img src="<%= item['m_logo'] %>" alt="Merchant Logo"></td>
    <td><%= item['merchant_name'] %></td>
    <td><%= item['amount'] %></td>
    <td><%= item['time'] %></td>
    <td><%= item['label'] %></td>
    <td><img src="<%= item['t_logo'] %>" alt="Tag Logo"></td>
  </tr>
  <% end %>
</table>
<br><br>
<h2>All-time total: £<%=@total%> </h2>
<br><br>
<br><br>
