<h2>This is Analytics page per month.</h2>

<h3>Filter transactions by month. </h3>


<%  for month in @month_names %>

<form method="get" action="/transactions/analytics/month/<%= Date::MONTHNAMES.index(month).to_s%>/table">

<input type="submit"  value="<%=month%>">
</form>
  <% end %>

<br><br>


<table>
  <tr>
    <th>Merchant logo</th>
    <th>Merchant Name</th>
    <th>Amount</th>
    <th>Time</th>
    <th>Category</th>
    <th>Category logo</th>

  </tr>
  <% for item in @transactions_by_time %>
<% if @transaction.first['month_num'].to_i == item['month_num'].to_i  %>
  <tr>
    <td><img src="<%= item['m_logo'] %>" alt="Merchant Logo"></td>
    <td><%= item['merchant_name'] %></td>
    <td><%= item['amount'] %></td>
    <td><%= item['time'] %></td>
    <td><%= item['label'] %></td>
    <td><img src="<%= item['t_logo'] %>" alt="Tag Logo"></td>
  </tr>
  <% end %>
    <% end %>
</table>

<br><br>
<br><br>
