<h2>Your Analytics</h2>

<div class="background">

  <div class="container">
    <ul id="filter-barul">
      <%  for tag in @tags %>
    <li id="filter-barli"><a id="filter-bara" href="/transactions/analytics/tag/<%= tag.label %>/table"><%= tag.label.capitalize  %>
    </a></li>
      <% end %>
    </ul>
  </div>
<br>
  <div class="container">
    <ul id="filter-barul">
    <%  for yearmonth in @yearmonths %>
    <li id="filter-barli"><a id="filter-bara"href="/transactions/analytics/month/<%=yearmonth%>/table"><%= (yearmonth.split('/').first).concat(" ",Date::MONTHNAMES[(yearmonth.split('/').last).to_i])  %>
    </a></li>
    <% end %>
    </ul>
  </div>
  <br>
  <div class="container">
    <ul id="filter-barul">
      <li id="filter-barli"><a id="filter-bara" href="/transactions/analytics/allbytime">ALL TRANSACTIONS BY TIME
      </a></li>
      </ul>
    </div>
</div>

  <br>
    <div class="container">
<form method="post" action="/transactions/analytics/range">
    <label for="date1">From&nbsp</label>
    <input id="mainselection2" name="date1" type="date"  value="date1">

    <label for="date2">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp To &nbsp</label>
    <input id="mainselection2" name="date2"type="date"  value="date2">

    <input id="new_button" type="submit"  value="Filter" style="height:25px; width:150px">
</form>
<br>
</div>

<br><br>

<table>
  <tr>
    <th>Merchant logo</th>
    <th>Merchant Name</th>
    <th>Amount</th>
    <th>Time</th>
    <th>Category</th>
    <th>Category logo</th>

  </tr>
  <% for item in @transactions_by_tag %>
  <tr>
    <td><img src="<%= item['m_logo'] %>" width="30" height="30" alt="Merchant Logo"></td>
    <td><%= item['merchant_name'] %></td>
    <td><%= item['amount'] %></td>
    <td><%= item['time'] %></td>
    <td><%= item['label'] %></td>
    <% @hack= item['label'] %>
    <td><img src="<%= item['t_logo'] %>" width="30" height="30" alt="Tag Logo"></td>
  </tr>
  <% end %>
</table>

<table class="tfooter"><tfoot><th>Category total: £<%=@total_by_tag%><br>
Category Budget: £
<% case @hack%>
<% when "groceries"%><%=@tag_budget.first.budget_groceries%>
<% when "shopping"%><%=@tag_budget.first.budget_shopping%>
<% when "restaurants"%><%=@tag_budget.first.budget_restaurants%>
<% when "transport"%><%=@tag_budget.first.budget_transport%>
<% when "entertainment"%><%=@tag_budget.first.budget_entertainment%>
<% when "health"%><%=@tag_budget.first.budget_health%>
<% when "services"%><%=@tag_budget.first.budget_services%>
<% when "utilities"%><%=@tag_budget.first.budget_utilities%>
<% else %> <%=@tag_budget.first.budget_rent%>
<% end %>
</th></tfoot></table><br>

<br><br>
<br><br><br><br><br><br>
