<h2>Your Analytics</h2>

<table>
  <tr><p>Filter by:</p>
    <td><form method="get" action="/transactions/analytics/allbytime">
    <input type="submit"  value="ALL TRANSACTION BY TIME">
    </form>
  </td>


  <%  for yearmonth in @yearmonths %>

    <td>
      <form method="get" action="/transactions/analytics/month/<%=yearmonth%>/table">
      <input type="submit"  value="<%= yearmonth %>">
      </form>
  <% end %>

    </td>
  </tr>
</table>
<br>

<table>
  <tr>
    <th>Merchant logo</th>
    <th>Merchant Name</th>
    <th>Amount</th>
    <th>Time</th>
    <th>Category</th>
    <th>Category logo</th>

  </tr>
  <% for item in @transactions_by_time %>
<% if (@transaction.first['month_num'].to_i == item['month_num'].to_i && @transaction.first['year_num'].to_i == item['year_num'].to_i) %>
  <tr>
    <td><img src="<%= item['m_logo'] %>" alt="Merchant Logo"></td>
    <td><%= item['merchant_name'] %></td>
    <td><%= item['amount'] %></td>
    <td><%= item['time'] %></td>
    <td><%= item['label'] %></td>
    <td><img src="<%= item['t_logo'] %>" alt="Tag Logo"></td>
  </tr>
  <% end %>
    <% end %>
</table>

<br><br>
<h2>All-time total: £<%=@total%> </h2>
<h2>Month total: £<%=@total_by_month%> </h2>
<h2>Monthly Budget: £<%=@budget%> </h2>
<h2><%=@message%></h2>
<br><br>
<br><br>
<br><br>
