<h2>This is all the Transactions page.</h2>

<table>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Category</th>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
<%  for transaction in @transactions %>
  <tr>
    <td><img src="<%=transaction.merchant.logo%>" width="30" height="30" alt="Merchant Logo"></td>
    <td><%=transaction.id() %></td>
    <td><%=transaction.tag.label %></td>
    <td><%=transaction.merchant.name %></td>
    <td><%=transaction.amount %></td>
    <td><%=transaction.time %></td>
    <td>
      <form method="get" class="inline" action="/transactions/<%= transaction.id %>/edit">
        <input type="submit"  value="Update this trans">
      </form>

      <form method="post" class="inline" action="/transactions/<%= transaction.id %>/delete">
        <input type="submit"  value="Delete this trans">
      </form>
    </td>
  </tr>
  <% end %>
</table>
<br><br>
<h2>All-time total: <%=@total%> </h2>
<br><br>
