<br><h2>See all your latest recorded transactions below.</h2>

<head>
<style>


#tfooter {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tfoother td, #tfooter th {
  border: 1px solid #ddd;
  padding: 3px;
}

#tfooter tr:nth-child(even){background-color: #f2f2f2;}

#tfooter tr:hover {background-color: #ddd;}

#tfooter th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #D3D3D3;
  color: black;
}

</style>
</head>

<body>
<table id="transactions">
  <tr>
    <th></th>
    <th>ID</th>
    <th>Category</th>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
<%  for transaction in @transactions %>
  <tr>
    <td><img src="<%=transaction.merchant.logo%>" width="30" height="30" alt="Merchant Logo"></td>
    <td><%=transaction.id() %></td>
    <td><%=transaction.tag.label %></td>
    <td><%=transaction.merchant.name %></td>
    <td>£<%=transaction.amount %></td>
    <td><%=transaction.time %></td>
    <td>
      <form method="get" class="inline" action="/transactions/<%= transaction.id %>/edit">
        <input id="update-btn" type="submit"  value="Update this transaction">
      </form>

      <form method="post" class="inline" action="/transactions/<%= transaction.id %>/delete">
        <input id="delete-btn" type="submit"  value="Delete this transsaction">
      </form>
    </td>
  </tr>
  <% end %>
</table>

<table id="tfooter">
  <tfoot>
<th id="tfooter">
        All-time total: £<%=@total%>
</th>
    </tfoot>
  </table>

<br><br>
</body>

<!-- #DCDCDC -->
<!-- aquamarine: #008B8B -->
