<h2>This is all the Transactions page.</h2>


<%  for transaction in @transactions %>
<p> Transaction ID: <%=transaction.id %> </p>
<p> Label: <%=transaction.tag.label %> </p>
<p> Merchant: <%=transaction.merchant.name %> </p>
<p>Amount: <%=transaction.amount %> </p>

<p> Logo: </p><img src="<%=transaction.merchant.logo%>" alt="marchant logo">


<form method="get" action="/transactions/<%= transaction.id %>/edit">
  <input type="submit"  value="Update this trans">
</form>

<form method="post" action="/transactions/<%= transaction.id %>/delete">
  <input type="submit"  value="Delete this trans">
</form>

<hr />
<% end %>

<h2>All-time total: <%=@total%> </h2>
